[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
numpy = "==1.16.1"
pandas = "==0.24.1"
python-dateutil = "==2.8.0"
pytz = "==2018.9"
six = "==1.12.0"
spareparts = {editable = true,git = "https://github.com/recs12/spareparts.git",ref = "9049ae8d73f0ef2b37e66eea5744be8da44fe032"}

[requires]
python_version = "3.7"
